<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        <ul>
            <li ng-repeat="country in countries">{{country.name}}
                <ul>
                    <li ng-repeat="city in country.cities">{{city.name}}</li>
                </ul>
            </li>
        </ul>
    </div>    
</body>
<script src="repeatDirective1.js">
</script>
</html>